$body-font-family = 'Open Sans';

@import '~vuetify/src/stylus/settings/_variables';

$headings.h6.weight = 600
$headings.body-2.weight = 600
$headings.body-2.button = 600

@import '~vuetify/src/stylus/settings/_theme';

$material-light.text.primary = #333
$body-font-family = 'Open Sans', sans-serif;

@import '~vuetify/src/stylus/main';

body {
  margin-top 50px;
}

h1, h2, h3 {
  font-family: 'Glegoo', serif;
}

.theme--light .input-group.input-group--textarea:not(.input-group--full-width) .input-group__input {
  border-width: 1px;
}
